	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/03/2018 08:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-planning:before { content: "\f100"; }
.flaticon-002-goal:before { content: "\f101"; }
.flaticon-003-investment:before { content: "\f102"; }
.flaticon-004-video-conference:before { content: "\f103"; }
.flaticon-005-target:before { content: "\f104"; }
.flaticon-006-strategy-1:before { content: "\f105"; }
.flaticon-007-startup:before { content: "\f106"; }
.flaticon-008-advertising:before { content: "\f107"; }
.flaticon-009-heart:before { content: "\f108"; }
.flaticon-010-website-1:before { content: "\f109"; }
.flaticon-011-store:before { content: "\f10a"; }
.flaticon-012-report:before { content: "\f10b"; }
.flaticon-013-presentation:before { content: "\f10c"; }
.flaticon-014-policy:before { content: "\f10d"; }
.flaticon-015-strategy:before { content: "\f10e"; }
.flaticon-016-speech:before { content: "\f10f"; }
.flaticon-017-logistics:before { content: "\f110"; }
.flaticon-018-balance:before { content: "\f111"; }
.flaticon-019-leader:before { content: "\f112"; }
.flaticon-020-idea:before { content: "\f113"; }
.flaticon-021-human-resources:before { content: "\f114"; }
.flaticon-022-global:before { content: "\f115"; }
.flaticon-023-business:before { content: "\f116"; }
.flaticon-024-programmer:before { content: "\f117"; }
.flaticon-025-data:before { content: "\f118"; }
.flaticon-026-customer-support-1:before { content: "\f119"; }
.flaticon-027-creative:before { content: "\f11a"; }
.flaticon-028-connection:before { content: "\f11b"; }
.flaticon-029-visitor:before { content: "\f11c"; }
.flaticon-030-website:before { content: "\f11d"; }
.flaticon-031-customer-support:before { content: "\f11e"; }
.flaticon-032-growth:before { content: "\f11f"; }
.flaticon-033-deal:before { content: "\f120"; }
.flaticon-034-building:before { content: "\f121"; }
.flaticon-035-teamwork:before { content: "\f122"; }
.flaticon-036-card:before { content: "\f123"; }