.menu-link {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 15px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #212529 !important;
}

.menu-link:hover {
  color: #868e96 !important;
}

/* #1d82ff */
.active a {
  color: #2DC497 !important;
}
.active a:active {
  color: #2DC497 !important;
}
.active a:hover {
  color: #2DC497 !important;
}

.card-box {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.capital-letter{
  font-weight: 400 !important;
  font-size: 2.5em;
}

.icon-shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.icon-shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.9s, 0.9s, 0.35s;
  transition-timing-function: ease;
}

/* Active state */
.icon-shine:active:after {
  opacity: 0;
}

.card-shadow {
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.work-card-header {
  background: #a5c6c9;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-transform: capitalize;
}

.work-item-text div {
  margin-bottom: 20px;
  background: #e6ecf7;
  border-radius: 8px;
}

.work-item-text div p {
  padding: 20px 10px 20px 10px;
  min-height: 70px;
  max-height: 80px;
}

.card-services-img-1 {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("../images/cide_services_2_1.jpg");
}

.card-services-img-2 {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("../images/cide_services_2_2.jpg");
}

.card-services-img-3 {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("../images/cide_services_2_3.jpg");
}

.card-services-img-4 {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("../images/cide_services_2_4.jpg");
}

.card-services-img-5 {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("../images/cide_services_2_5.jpg");
}

.row-padding-top-30 {
  padding-top: 30px;
}

/* -- Post Card -- */
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.post-module .thumbnail {
  background: #07172f;
  overflow: hidden;padding: 0;
}

.post-module .thumbnail img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 0 0px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #222 !important;
  font-size: 24px !important;
  font-weight: 700;
  margin: 20px 10px 0 !important;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #f2b202;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
  margin-left: 10px !important;
}
.post-module .post-content .post-meta {
  margin: 0px 0px 10px;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
/* ----- Map ----- */
.embed-responsive-200 {
  padding-bottom: 200px;
}
.google-maps-location {
  padding: 20px 0 20px 0;
}
/* --------------- */
.contact-form {
  padding-top:20px;
}
.contact-button {
  margin-top: 10px;
}
.section-header {
  margin-bottom: 3em !important;
}
.services-image {
  width:90%;
  height:auto;
}
@media screen and (max-width: 480px) {
  .services-image {
    width: 100%;
  }
}
/* ------ Strategy Allies --------- */
.strategy-icon {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 14px;
  margin-top: 10px;
  font-size: 75px;
}

.icon-primary-color {
  color: #2DC497;
}

/* --------------- */
/* -------Header Image -------- */
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/cide_wework_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1 {
  font-size: 2.5rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.8rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.align-self-baseline {
  align-self: baseline !important;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #2DC497;
}

.btn-primary {
  color: #fff;
  background-color: #26a17c;
  border-color: #26a17c;
}
.btn-primary:hover {
  color: #fff;
  background-color: #26a17c;
  border-color: #26a17c;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #26a17c;
  border-color: #26a17c;
  box-shadow: 0 0 0 0.2rem #1D785D;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #26a17c;
  border-color: #26a17c;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #26a17c;
  border-color: #26a17c;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #1D785D;
}

.header-btn {
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 8rem;
}

.service-work-section-unit {
  padding-right: 4rem !important;
  padding-left: 2rem !important;
  margin-bottom: 5rem!important;
}

.companies-db-link {
  padding: 0.1rem;
  font-weight: 700;
  border: none;
  border-radius: 6rem;
  background-color: #bff3e3;
  color: #fff !important;
}
/* --------------- */