.menu-link {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 15px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #212529 !important;
}

.menu-link:hover {
  color: #868e96 !important;
}

.active a {
  color: #1d82ff !important;
}
.active a:active {
  color: #1d82ff !important;
}
.active a:hover {
  color: #1d82ff !important;
}

.home-section {
  background-color: #01142d;
  background-image: url("../images/cide_fb_7.png");
  vertical-align: top;
  height:100%;
  box-shadow: 2px 2px 2px;
  opacity: 0.8;
}

.home-title {
  font-size: 3em !important;
}

.card-box {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.capital-letter{
  font-weight: 400 !important;
  font-size: 2.5em;
}

.icon-shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.icon-shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.9s, 0.9s, 0.35s;
  transition-timing-function: ease;
}

/* Active state */
.icon-shine:active:after {
  opacity: 0;
}

.card-shadow {
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.work-card-header {
  background: #a5c6c9;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-transform: capitalize;
}

.work-item-text div {
  margin-bottom: 20px;
  background: #e6ecf7;
  border-radius: 8px;
}

.work-item-text div p {
  padding: 20px 10px 20px 10px;
  min-height: 70px;
  max-height: 80px;
}

.card-services-img-1 {
  background-image: url("../images/cide_services_4.jpg");
}

.card-services-img-2 {
  background-image: url("../images/cide_fb_6.jpg");
}

.card-services-img-3 {
  background-image: url("../images/cide_services_2.jpg");
}

.card-services-img-4 {
  background-image: url("../images/cide_services_1.jpg");
}

.card-services-img-5 {
  background-image: url("../images/cide_services_3.jpg");
}

.row-padding-top-30 {
  padding-top: 30px;
}

/* -- Post Card -- */
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.post-module .thumbnail {
  background: #07172f;
  overflow: hidden;padding: 0;
}

.post-module .thumbnail img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 0 0px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #222 !important;
  font-size: 24px !important;
  font-weight: 700;
  margin: 20px 10px 0 !important;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #f2b202;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
  margin-left: 10px !important;
}
.post-module .post-content .post-meta {
  margin: 0px 0px 10px;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
/* --------------- */
/* ----- Map ----- */
.embed-responsive-200 {
  padding-bottom: 200px;
}
.google-maps-location {
  padding: 20px 0 20px 0;
}
/* --------------- */
.contact-form {
  padding-top:20px;
}
.contact-button {
  margin-top: 10px;
}
.section-header {
  margin-bottom: 3em !important;
}
.services-image {
  width:90%;
  height:auto;
}
@media screen and (max-width: 480px) {
  .services-image {
    width: 100%;
  }
}
