.menu-link {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 15px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #212529 !important;
}

.menu-link:hover {
  color: #868e96 !important;
}

.active a {
  color: #1d82ff !important;
}
.active a:active {
  color: #1d82ff !important;
}
.active a:hover {
  color: #1d82ff !important;
}

.home-section {
  background-image: url("../images/building.jpg");
}

.card-box {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.capital-letter{
  font-weight: 400 !important;
  font-size: 2.5em;
}

.icon-shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.icon-shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.9s, 0.9s, 0.35s;
  transition-timing-function: ease;
}

/* Active state */
.icon-shine:active:after {
  opacity: 0;
}
